/* links */
@import url("./bootstrap.min.css");
/*****************************************************************************************************************/
/* general */
*{
    box-sizing: border-box
}
h1{
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    direction: rtl
}
.row{
    margin: 0;
    padding: 0
}
/*****************************************************************************************************************/
/* signup page */
.signup{
    margin: 0;
    padding: 50px 0;
    height: 100vh;
    width: 80%;
    margin: auto;
}
.signup .row{
    height: 100%;
    display: flex;
}
.signup .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.signup .form h2{
    font-size: 30px;
    padding-bottom: 30px;
}
.signup .form form{
    display: flex;
    /* width: fit-content; */
    flex-direction: column;
}
.signup .form form label{
    padding-right: 13px;
}
.signup .form form input{
    border: 1px solid black;
    margin: 5px;
    width: 300px;
    height: 58px;
    padding: 0 0px 0 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all ease-in-out 0.2s;
    direction: ltr;
    border: 1px solid blueviolet;
}
.signup .form form input:focus{
    box-shadow: 1px 2px 3px 0px blueviolet;
    outline: none;
}
.signup .form form button{
    width: fit-content;
    margin: auto;
    border: none;
    background: blueviolet;
    color: white;
    padding: 11px 25px;
    border-radius: 15px;
    font-size: 19px;
    transition: all ease-in-out 0.3s;
}
.signup .form form button:hover{
    background-color: #743991;
}
.signup .form form .check{
    margin: auto;
    padding-top: 20px;
}
.signup .image{
    height: 100%;
    display: flex;
}
.signup .image img{
    height: 100%;
    width: 100%;
    margin: auto
}
.signup .err{
    font-size: 16px;
    color: red;
    padding-top: 20px;
}
.signup .check a{
    text-decoration: none;
}
@media screen and (max-width:981px) {
    .signup {
        margin: 0;
        padding: 5px 0; 
        height: 107vh;
        width: 80%;
        margin: auto;
        width: 90%;
    }
    .signup .form {
        align-items: center;
        padding-top: 0px !important;
        margin-top: 15px !important;
    }
    .signup .row {
        flex-wrap: wrap-reverse;
        align-items: flex-end;
    }
    .signup .image {
        width: 532px;
        margin: auto;
        height: 45%;
    }
    .signup .form h2{
        font-size: 30px;
        padding-bottom: 10px;
    }
}
/*****************************************************************************************************************/
/* login page*/
.login{
    margin: 0;
    padding: 50px 0;
    height: 100vh;
    width: 80%;
    margin: auto;
}
.login .row{
    height: 100%;
    display: flex;
    align-items: center;
}
.login .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.login .form h2{
    font-size: 30px;
    padding-bottom: 30px;
}
.login .form form{
    display: flex;
    /* width: fit-content; */
    flex-direction: column;
}
.login .form form label{
    padding-right: 13px;
}
.login .form form input{
    border: 1px solid black;
    margin: 5px;
    width: 300px;
    height: 58px;
    padding: 0 0px 0 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all ease-in-out 0.2s;
    direction: ltr;
    border: 1px solid blueviolet;
}
.login .form form input:focus{
    box-shadow: 1px 2px 3px 0px blueviolet;
    outline: none;
}
.login .form form button{
    width: fit-content;
    margin: auto;
    border: none;
    background: blueviolet;
    color: white;
    padding: 11px 25px;
    border-radius: 15px;
    font-size: 19px;
    transition: all ease-in-out 0.3s;
}
.login .form form button:hover{
    background-color: #743991;
}
.login .form form .login{
    margin: auto;
    padding-top: 20px;
}
.login .image{
    height: 100%;
    display: flex;
}
.login #error {
    text-align: center;
    margin: auto;
    font-size: 25px;
}
.login .image img{
    height: 100%;
    width: 100%;
    margin: auto
}
.login .err{
    font-size: 16px;
    color: red;
    padding-top: 20px;
}
.login .login a{
    text-decoration: none;
}
@media screen and (max-width:981px) {
    .login {
        margin: 0;
        padding: 5px 0; 
        height: 107vh;
        width: 80%;
        margin: auto;
        width: 90%;
    }
    .login .form {
        align-items: center;
        padding-top: 0px !important;
        margin-top: 15px !important;
    }
    .login .row {
        flex-wrap: wrap-reverse;
        align-items: flex-end;
    }
    .login .image {
        width: 532px;
        margin: auto;
        height: 45%;
    }
    .login .form h2{
        font-size: 30px;
        padding-bottom: 10px;
    }
}
/*****************************************************************************************************************/
/* verification page */
.verfContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: ltr;
}
.otp-card #verificationMessage{
    color: red;
    font-size: 16px;
    padding-top: 20px;
}
.otp-card{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 10px 40px -20px black;
}
.otp-card-inputs{
    margin: 30px 0;
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(5, auto);
}
.otp-card-inputs input{
    width: 60px;
    height: 70px;
    font-size: 35px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
}
.otp-card-inputs input:focus{
    outline: 2px solid blueviolet;
    border-color: transparent;
}
.otp-card button{
    background-color: blueviolet;
    border: none;
    padding: 15px 50px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}
.otp-card button:hover{
    opacity: 0.9;
}
.otp-card button[disabled]{
    opacity: 0.6;
    cursor: default;
}

@media screen and (max-width:535px) {
    .otp-card{
        text-align: center;
        background-color: white;
        border-radius: 20px;
        padding: 2rem;
        box-shadow: 0 10px 40px -20px black;
    }
    .otp-card-inputs input{
        width: 40px;
        height: 45px;
        font-size: 35px;
        text-align: center;
        border-radius: 20px;
        border: 1px solid black;
    }
    .otp-card-inputs{
        margin: 30px 0;
        display: grid;
        gap: 20px;
        justify-content: center;
        grid-template-columns: repeat(5, auto);
    }
}
/*****************************************************************************************************************/
/* completeRegistration page */
.completeRegistration{
    margin: 0;
    padding: 50px 0;
    height: 100vh;
    width: 95%;
    margin: auto;
}
.completeRegistration #warning{
    color: red;
    text-align: center;
    padding: 15px 0 48px 0;
    display: none;
}
.completeRegistration .row{
    height: 100%;
    display: flex;
}
.completeRegistration .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.completeRegistration .form h2{
    font-size: 30px;
    padding-bottom: 30px;
}
.completeRegistration .form form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.completeRegistration .form form div{
    flex-direction: column;
    width: 270px;
}
.completeRegistration .form form label{
    padding-right: 16px;
    display: block;
}
.completeRegistration .form form input, .completeRegistration textarea, .completeRegistration  select{
    border: 1px solid black;
    margin: 5px;
    width: 250px;
    height: 58px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: box-shadow ease-in-out 0.2s;
    direction: rtl;
    border: 1px solid blueviolet;
}
.completeRegistration .form form .bool input{
    border: 1px solid black;
    margin: 13px 5px 0px 0px;
    width: 70px;
    height: 36px;
}
.completeRegistration .form form .bool{
    display: flex;
    padding: 5px 0 20px 0;
}
.completeRegistration .form form .bool .permanent-diseases, 
.completeRegistration .form form .bool .disability-diseases,
.completeRegistration .form form .bool .car,
.completeRegistration .form form .bool .apartment,
.completeRegistration .form form .bool .job,
.completeRegistration .form form .bool .businessOwner,
.completeRegistration .form form .bool .marriedBefore,
.completeRegistration .form form .bool .marriedNow,
.completeRegistration .form form .bool .children,
.completeRegistration .form form .bool .livingAbroad
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:5px ;
}
.completeRegistration .form form .bool label{
    display: contents;
    padding: 0;
}
.completeRegistration .form form .bool .Title{
    display: flex;
    margin-right: 19px;
    justify-content: end;
    text-align: center;
    width: fit-content;
}
.completeRegistration .form form .bool textarea{
    margin: 5px 0 0 0;
}
.completeRegistration .form form .bool #permanentDiseasesDetailsSection, 
.completeRegistration .form form .bool #disabilityDetailsSection

{
    padding-top: 10px;
    align-items: center;
}
.completeRegistration .form form .bool #carDetailsSection,
.completeRegistration .form form .bool #apartmentDetailsSection,
.completeRegistration .form form .bool #jobSection,
.completeRegistration .form form .bool #childrenSection
{
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
    flex-direction: row;
}
.completeRegistration .form form .bool #carDetailsSection div,
.completeRegistration .form form .bool #apartmentDetailsSection div,
.completeRegistration .form form .bool #jobSection div,
.completeRegistration .form form .bool #childrenSection div
{
    width: 49%;
}
.completeRegistration .form form .bool #carDetailsSection div textarea,
.completeRegistration .form form .bool #apartmentDetailsSection div textarea,
.completeRegistration .form form .bool #jobSection div textarea,
.completeRegistration .form form .bool #childrenSection div textarea
{
    width: 100%;
}
.completeRegistration .form form .bool input:focus{
    box-shadow: 1px 2px 3px 0px rgba(137, 43, 226, 0);
    outline: none;
}
.completeRegistration textarea{
    padding-top: 15px;
}
.completeRegistration textarea:focus{
    box-shadow: 1px 2px 3px 0px blueviolet;
    outline: none;
}
.completeRegistration .form form input:focus{
    box-shadow: 1px 2px 3px 0px blueviolet;
    outline: none;
}
.completeRegistration .form form button{
    width: fit-content;
    margin: auto;
    border: none;
    background: blueviolet;
    color: white;
    padding: 11px 25px;
    border-radius: 15px;
    font-size: 19px;
    transition: all ease-in-out 0.3s;
}
.completeRegistration .form form .languages{
    width: 100%;
    height: fit-content;
    padding-bottom: 44px;
    min-width: fit-content;
    display: flex;
}
.completeRegistration .form form .languages #addLanguageButton{
    width: fit-content;
    margin-right: 24px;
}
.completeRegistration .form form .languages .removeLanguageButton{
    margin-bottom: 15px;
}
.language-section{
    margin: 0 !important;
}
#languagesSection{
    width: 99%;
    flex-direction: row;
    margin: auto;
    justify-content: start;
}
.completeRegistration .form form button:hover{
    background-color: #743991;
}
.completeRegistration .form form .check{
    margin: auto;
    padding-top: 20px;
}
.completeRegistration .image{
    height: 82%;
    display: inline;
    position: fixed;
    /* top: 0; */
    left: 10px;
    /* top: 0; */
}
.completeRegistration .image img{
    height: 100%;
    width: 100%;
    margin: auto
}
.completeRegistration .preview{
    display: flex;
    justify-content: start;
}
.completeRegistration .preview img{
    width: 85%;
    height: 204px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.completeRegistration input[type="file"] {
    display: none;
}

.completeRegistration .custom-file-upload {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    background-color: #eee;
    color: #333;
    margin: 7px 0px 7px 15px;
    padding: 15px;
    border-radius: 7px;
    transition: all ease-in-out 0.3s;
}

.completeRegistration .custom-file-upload:hover{
    background-color: #743991;
    color: white;
}

.completeRegistration .submit {
    display: block;
    margin: auto;
    width: 100% !important;
    display: flex;
    margin-top: 18px !important;
}

.completeRegistration .err{
    font-size: 16px;
    color: red;
    padding-top: 20px;
}
.completeRegistration .check a{
    text-decoration: none;
}
@media screen and (max-width:1170px) {
    .completeRegistration .form form div{
        width: fit-content;
        margin: auto;
        width: 277px;
    }
    .completeRegistration .form form input,
    .completeRegistration textarea, 
    .completeRegistration textarea, 
    .completeRegistration  select{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:992px) {
    .completeRegistration {
        margin: 0;
        padding: 5px 0; 
        height: fit-content;
        width: 80%;
        margin: auto;
        width: 90%;
    }
    .completeRegistration .image{
        height: 82%;
        display: inline;
        position: static;
    }
    .completeRegistration .form {
        align-items: center;
        padding-top: 0px !important;
        margin-top: 15px !important;
    }
    .completeRegistration .form form div{
        width: fit-content;
        margin: auto;
        width: 300px;
    }
    
    .completeRegistration .form form input,
    .completeRegistration textarea, 
    .completeRegistration textarea, 
    .completeRegistration  select{
        width: 100%;
        margin-bottom: 20px;
    }
    .completeRegistration .row {
        flex-wrap: wrap-reverse;
        align-items: flex-end;
    }
    .completeRegistration .image {
        width: 532px;
        margin: auto;
        height: 45%;
    }
    .completeRegistration .form h2{
        font-size: 30px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width:692px) {
    .completeRegistration .form form div{
        width: fit-content;
        margin: auto;
        width: 250px;
    }
    .completeRegistration .form form input,
    .completeRegistration textarea, 
    .completeRegistration textarea, 
    .completeRegistration  select{
        width: 100%;
        margin-bottom: 20px;
    }
    .completeRegistration #faceImagePreview{
        display: flex;
        justify-content: center;
    }
    .completeRegistration #faceImagePreview img{
        display: flex;
        margin: auto;
    }
}
@media screen and (max-width:570px) {
    .completeRegistration .form form div{
        width: fit-content;
        margin: auto;
        width: 100%;
    }
    #languagesSection div {
        width: 100%;
    }
}
/* ------------------------------------------------------------------------------------------------- */
/* waiting */
.waiting h2{
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#c93900 ;
}
/* ------------------------------------------------------------------------------------------------- */
/* time line */
header{
    border-bottom: 0.2px solid #707070d4;
}
header .navbar {
    box-shadow: none;
    direction: ltr;
    background: rgb(50 21 145);
    color: white;
    padding: 33px 0;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}
header .phone{
    display: none;
}
header .navbar-expand-lg .navbar-collapse {
    width: 80%;
}
header .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 70%;
    justify-content: center;
    transition: all ease-in-out 0.2;
}

header .navbar-brand{
    width: 131px;
    height: 98px;
    margin-top: -52px;
}
header .navbar-brand img{
    width: 137%;
    height: 155%;
}

header .navbar-expand-lg .navbar-nav li{
    padding-left: 7px;
    font-size: 19px;
    transition: all ease-in-out 0.2;
    font-weight: 400;
}
header .navbar-expand-lg .navbar-nav li a{
    color: #ffffffde;
    font-weight: bold;
}
header .navbar-expand-lg #logout{
    border-radius: 18px;
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-weight: 500 !important;
    margin-left: 15px !important;
    border: 1px solid rgb(255 255 255 / 59%);
    width: fit-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar-expand-lg #logout i{
    padding-left: 5px;
}
header .navbar-expand-lg .navbar-nav li a:hover{
    color:  rgb(102, 178, 255) !important
}
header .navbar-expand-lg #logout:hover{
    color: white !important;
    background-color: black !important;
    border: 1px solid rgba(255, 255, 255, 0);
}
header .active{
    color: rgb(102, 178, 255) !important;
}

header button {
    border: 1px solid white !important;
}

.timeline h2{
    text-align: center;
    padding: 24px 0;
}

.timeline p{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #000000b8;
    margin-bottom: 30px;
}
.timeline .cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 60px;
}
.timeline .card{
    width: 27%;
    padding: 0px 0px 12px 0px;
    direction: rtl;
    margin-bottom: 15px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    
}
.timeline .card img{
    width: 100%;
    height: 400px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.timeline .card .card-body{
    padding: 10px 10px;
}
.timeline .card .card-body .card-title{
    margin: 15px 0
}

.timeline .card .card-body a{
    width: 100%;
    background: #1e901e;
    padding: 10px 0;
    transition: all ease-in-out 0.3s;
    border: none;
}
.timeline .card .card-body a:hover{
    background-color: #155b15;
}
.timeline .receiver, .timeline .sender{
    box-shadow: #8861a1a8 0 0 15px 0px;
    width: 95%;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 30px;
    display: none;
}

.timeline .receiver .cards, .timeline .sender .cards{
    padding-bottom: 0px;
}
.timeline .receiver .cards .card, .timeline .sender .cards .card{
    width: 24%;
    flex-wrap: wrap;
    padding: 0px 0px 8px 0px;
    direction: rtl;
}
@media screen and (max-width: 1100px) {
    .timeline .receiver .cards .card,
    .timeline .sender .cards .card {
        width: 30%;
        flex-wrap: wrap;
        padding: 0px 0px 8px 0px;
        direction: rtl;
    }
}
@media screen and (max-width: 965px) {
    .timeline .receiver .cards .card,
    .timeline .sender .cards .card {
        width: 45%;
        flex-wrap: wrap;
        padding: 0px 0px 8px 0px;
        direction: rtl;
    }
}
@media screen and (max-width: 580px) {
    .timeline .receiver .cards .card,
    .timeline .sender .cards .card {
        width: 95%;
        flex-wrap: wrap;
        padding: 0px 0px 8px 0px;
        direction: rtl;
    }
}
.timeline .receiver .cards .card img, .timeline .sender .cards .card img{
    height: 300px;
}
.timeline .receiver h2, .timeline .sender h2{
    padding-bottom: 0px;
}
.timeline .card .card-body #user{
    background-color: #333;
    margin-bottom: 10px;
}
.timeline .card .card-body #user:hover{
    background-color: black;
}
.timeline .timeline-filter-form{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    height: 0px;
    overflow: hidden;
    box-shadow: 0 0 20px 4px rgba(136, 136, 136, 0.2);
    padding: 5px 9px;
}
.timeline .openFilter{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #0000002e;
    width: 785px;
    margin: auto;
    border-radius: 12px;
    box-shadow: #0000005c 0 0 7px 1px;
    margin-bottom: 15px;
}

.timeline .openFilter .text{
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 35px;
    margin: 0 10px;
    font-optical-sizing: auto;
    font-style: normal;
    color: #9f032ad1;
    text-shadow: #9f032ad1 0px 0px 2px;
}
@media screen and (max-width:850px) {
    .timeline .openFilter{
        width: 90%;
    }
    .timeline .openFilter .text{
        font-size: 25px;
    }
}
@media screen and (max-width:570px) {
    header .navbar {padding: 15px 0;}
    .timeline .openFilter .text{font-size: 18px;}
}
.timeline .openFilter button{
    padding: 8px 54px;
    font-size: 18px;
    border: none;
    background: #f24570;
    color: white;
    border-radius: 13px;
    margin: 23px 0 20px 0;
    transition: all ease-in-out 0.3s;
}
.timeline .openFilter button:hover{
    background: #d10d3e;
}
.timeline-filter-form.show-filter {
    opacity: 1;
    transform: translateY(0);
    height: fit-content;
}
.timeline .timeline-filter-form div{
    width: fit-content;
    margin: 6px;
}
.timeline .timeline-filter-form .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline .timeline-filter-form .radios{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.timeline .timeline-filter-form .inputs{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.timeline .timeline-filter-form button{
    padding: 8px 54px;
    font-size: 18px;
    border: none;
    background: #f24570;
    color: white;
    border-radius: 13px;
    margin: 23px 0 20px 0;
    transition: all ease-in-out 0.3s;
}
.timeline .timeline-filter-form button:hover{
    background: #d10d3e;
}
.timeline .timeline-filter-form .inputs label{
    padding-bottom: 5px;
}
.timeline .timeline-filter-form .inputs div{
    margin: 0 10px 10px 10px;
}.timeline .timeline-filter-form .inputs select{
    padding: 8px 20px;
    border: 1px solid #0000006b;
    border-radius: 12px;
}
.timeline .timeline-filter-form div input[type="text"],
.timeline .timeline-filter-form div input[type="number"] {
    width: 150px;
    padding: 8px 7px;
    border-radius: 12px;
    border: 1px solid #0000006b;
}
.timeline .timeline-filter-form div input[type="number"] {
    width: 80px;
}
.timeline .timeline-filter-form div input{

}
@media screen and (max-width:1400px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 75%;
        justify-content: center;
        transition: all ease-in-out 0.2;
    }
    .sec1 .start{
        display: flex;
        justify-content: space-around;
        width: 25%;
    }
}
@media screen and (max-width:1200px) {
    header .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 70%;
        justify-content: center;
        transition: all ease-in-out 0.2;
    }

}

@media screen and (max-width:980px) {
    header .navbar>.container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    header .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        transition: all ease-in-out 0.2;
    }
        
    header .navbar-expand-lg .navbar-nav li{
        width: 100%;
        text-align: center;
    }
    .timeline .card{
        width: 45%;
        padding: 0 0px 5px 0px;
        direction: rtl;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:575px) {
    header .navbar {
        border: none;
    }
    header .navbar>.container{
        display: none ;
    }
    header .phone {
        width: 100%;
        display: flex;
        display: static;
    }
    .phone .navbar-nav{
        display: flex !important;
        flex-direction: row !important;
    }
    .phone .navbar-nav a{
        font-size: 23px;
    }
    header .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 500;
    }
    .timeline .card{
        width: 97%;
        padding: 0px 0px 5px 0px;
        direction: rtl;
        margin-bottom: 15px;
    }
    .timeline{
        margin-bottom: 60px;
    }
}
/* ------------------------------------------------------------------------------------------------- */
/* contact us */

.contact .sec1{
    background: rgb(50 21 145);
    /* width: 80%; */
    padding: 50px 0;
}
.contact .sec1 h2{
    color: white;
    text-align: end;
    width: 90%;
    font-size: 46px;
}
.contact .sec1 nav{
    direction: ltr;
    width: 90%;
}
.contact .sec1 nav ol{
    font-size: 20px;
    padding-top: 30px;
}
.contact .sec1 nav ol li{
    color: white;
}
.contact .sec1 nav ol li a{
    color: #d0d0d0;
    text-decoration: none;
}
.contact .sec2{
    margin: 50px 0;
}

.contact .sec2 .title{
    text-align: center;
    font-size: 30px;
    color: #5650ce;
    font-weight: bold;
}
.contact .sec2 h2{
    text-align: center;
    font-size: 59px;

}
.contact .sec2 p{
    text-align: center;
    font-size: 21px;
    color: #000000b8;
}
.contact .sec2 .row{
    padding-top: 54px;
}

.contact .sec2 .form form div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 1px solid #00000045;
    width: 80%;
    margin-bottom: 20px;
}
.contact .sec2 .form form div input, .contact textarea{
    border: none;
    padding: 15px 5px 15px 0;
}
textarea{
    height: 300px;
}
.contact .sec2 .form form div i{
    color: white;
    background: red;
    padding: 7px 7px;
    border-radius: 50%;
    background-image: linear-gradient(166deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
}
.contact .sec2 .form form button{
    border: none;
    padding: 10px 22px;
    border-radius: 12px;
    background: rgb(89 55 198);
    color: white;
    font-size: 19px;
    width: 80%;
    transition: all ease-in-out 0.3s;
}

.contact .sec2 .form form button:hover{
    background:#743991
}

@media screen and (max-width:980px) {
    .contact .sec2 .image {
        height: 500px;
        margin: auto;
        display: flex;
    }
    .contact .sec2 .image img {
        width: 100%;
        height: 100%;
        width: 80%;
        margin: auto;
    }
    .contact .sec2 .form {
        margin-top: 53px;
    }
    .contact .sec2 form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact .sec2 .form form div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border-bottom: 1px solid #00000045;
        width: 80%;
        margin-bottom: 20px;
        margin: 22px auto;
    }
    .contact .sec2 .form form button {
        border: none;
        padding: 10px 22px;
        border-radius: 12px;
        background: rgb(89 55 198);
        color: white;
        font-size: 19px;
        width: 80%;
        transition: all ease-in-out 0.3s;
        margin: auto;
    }
}

@media screen and (max-width:575px) {
    .contact .sec2 .title{
        text-align: center;
        font-size: 25px;
        color: #5650ce;
        font-weight: bold;
    }
    .contact .sec2{
        margin-bottom: 100px;
    }
    .contact .sec2 h2{
        text-align: center;
        font-size: 49px;
    
    }
    .contact .sec2 p{
        text-align: center;
        font-size: 17px;
        color: #000000b8;
        width: 90%;
        margin: auto;
    }
    .contact .sec2 .image {
        height: 400px;
        margin: auto;
        display: flex;
    }
}
/* ------------------------------------------------------------------------------------------------- */
/* user profile */
.profile .sec1{
    background: rgb(50 21 145);
    /* width: 80%; */
    padding: 50px 0;
}
.profile .sec1 h2{
    color: white;
    text-align: end;
    width: 90%;
    font-size: 46px;
}
.profile .sec1 nav{
    direction: ltr;
    width: 90%;
}
.profile .sec1 nav ol{
    font-size: 20px;
    padding-top: 30px;
}
.profile .sec1 nav ol li{
    color: white;
}
.profile .sec1 nav ol li a{
    color: #d0d0d0;
    text-decoration: none;
}
.profile .sec2 .card {
    width: fit-content;
    margin: 12px auto;
    padding: 0 0 20px 0;
    border-radius: 24px;
    text-align: center;
    border: none;
    box-shadow: #00000085 0px 1px 7px;
    height: 400px;

}
.profile .sec2 .card .image{
    display: flex;
    width: 426px;
    height: 157px;
    margin: auto;
}
.profile .sec2 .card .image img{
    margin: auto;
    width: 100%;
    height: 100%;
}
.profile .sec2 .card .details{
    position: relative;
    top: -67px;
}
.profile .sec2 .card .details .faceImage{
    width: 221px;
    height: 197px;
    margin: 0px auto;
    border-radius: 50%;
    position: relative;
    top: -41px;
}
.profile .sec2 .card .details .profileStatus{
    position: relative;
    top: -48px;
    display: none;
}
.profile .sec2 .card .details .profileStatus button{
    padding: 8px 54px;
    font-size: 18px;
    border: none;
    background: #f24570;
    color: white;
    border-radius: 13px;
    margin: 23px 0 20px 0;
    transition: all ease-in-out 0.3s;
}
.profile .sec2 .card .details .profileStatus button:hover{
    background: #cc1644;
}
.profile .sec2 .card .details .faceImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile .sec2 .card .details h3{
    position: relative;
    top: -55px;
}
.profile .sec2 .card .details .age{
    font-size: 23px;
    color: #0000008f;
    font-weight: bold;
    position: relative;
    top: -55px;
}
.profile .sec2 .info{
    width: 80%;
    margin: auto;
}
.profile .sec2 .info h2{
    text-align: center;
    margin: 30px 0 40px 0;
}

.profile .sec2 .info .row .row {
    justify-content: center;
    margin-bottom: 13px;
    border-bottom: 1px solid #00000021 !important;
    padding: 15px 0;
}
.profile .connected  {
    position: relative;
    top: -30px;
    font-size: 20px;
    color: green;
    font-weight: bold;
    direction: ltr;
}
.profile .connected i{
    padding: 0px 0px 0 5px;
}

.profile .notConnected {
    position: relative;
    top: 5px;
}


.profile .notConnected button{
    border: none;
    background: #208d20;
    color: white;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 18px;
    transition: all ease-in-out 0.3s;
}
.profile .notConnected button:hover{
    background: #156e15;
}
.profile .sec2 .info .row diV .label {
    color: rgb(0 0 0) !important;
    font-weight: 400;
}
.profile .sec2 .info .row diV:nth-child(2){
    font-weight: bold;

}
.profile #languagesContainer{
    display: flex;
}
.profile .languageContainer{
    margin-right: 5px;
}
.profile .sec2 .active{
    color: #ac216c !important;
}
@media screen and (min-width:2000px) {
    .profile .sec2{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width:575px) {
    .profile .sec2 .card .details {
        position: relative;
        top: -156px;
    }
    .profile .connected {
        position: relative;
        top: 100px;
        font-size: 20px;
        color: green;
        font-weight: bold;
        direction: ltr;
    }
    .profile .sec2 .card .image{
        display: flex;
        width: 100%;
        height: 157px;
        margin: auto;
    }
    .profile .notConnected{
        position: relative;
        top: 95px;
    }
    .profile .sec2 .card .details .faceImage{
        width: 221px;
        height: 197px;
        margin: 0px auto;
        border-radius: 50%;
        position: relative;
        top: 80px;
    }
    .profile .sec2 .card {
        width: 80%;
        margin: 12px auto;
        padding: 0 0 20px 0;
        border-radius: 24px;
        text-align: center;
        height: 367px;
    }
    .profile .sec2 .info .row diV {
        justify-content: flex-start !important;
    }
    .profile .sec2 .info .row diV .label{
        width: fit-content;
    }
    .profile .sec2 .info .row diV:nth-child(2){
        width: fit-content;
    }
    .profile .row{
        margin-bottom: 60px;
    }

}

/* ------------------------------------------------------------------------------------------------- */
/* profile */

.profile .sec2 .profile-nav {
    margin-top: 38px;
    margin-bottom: 50px;
}

.profile .sec2 .profile-nav ul{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
    border: 1;
    box-shadow: #00000030 0px 0 14px 2px;
    padding: 12px;
    border-radius: 12px;
    margin: 20px auto;
}

.profile .sec2 .profile-nav ul li{
    list-style: none;
}
.profile .sec2 .profile-nav ul li a{
    text-decoration: none;
    color: #473b3bf0;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
}
.profile .sec2 .profile-nav ul li a:hover{
    color: #ac216c;
}
.profile .sec2 .profile-icons{  
    display: none;
}
.profile .sec2 .row img {
    width: 160px;
    height: 150px;
}
.profile .sec2 .profileCard {
    width: fit-content;
    margin: 12px auto;
    padding: 0 0 20px 0;
    border-radius: 24px;
    text-align: center;
    border: none;
    box-shadow: #00000085 0px 1px 7px;
    height: 327px;
}

@media screen and (max-width:575px) {
    .profile .sec2  {
        width: fit-content;
        margin: 12px auto;
        padding: 0 0 20px 0;
        border-radius: 24px;
        text-align: center;
        border: none;
        height: 327px;
    }
    .profile .sec2 .profileCard {
        width: 84%;
        margin: 12px auto;
        padding: 0 0 20px 0;
        border-radius: 24px;
        text-align: center;
        border: none;
        box-shadow: #00000085 0px 1px 7px;
        height: 288px;
    }
    .profile .sec2 .profileCard .details .faceImage {
        width: 150px;
        height: 150px;
        margin: 0px auto;
        border-radius: 50%;
        position: relative;
        top: 80px;
    }
    .profile .sec2 .profileCard .details .profileStatus {
        top: 64px
    }
    .profile .profileRow{
        margin-bottom: 80px;
    }
    .profile .sec2 .profile-nav {
        display: none;
    }
    .profile .sec2 .profile-icons{  
        display: flex;
    }
    .profile .sec2 .profile-icons ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        box-shadow: #00000099 0 0 7px 0px;
        padding: 10px;
        border-radius: 12px;
        margin: 20px 0;
    }
    
    .profile .sec2 .profile-icons ul li a{
        font-size: 20px;
    }
}
/* ------------------------------------------------------------------------------------------------- */
/* connections */

.connections{

}
.connections .row{
    display: flex;
    justify-content: space-around;
}

.connections .row .userCard{
    display: flex;
    direction: ltr;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #0000005c;
    margin: 0 5px 30px 0;
    width: 45%;
    border-radius: 12px;
    padding: 10px 5px;
    justify-content: space-around;
}
.connections .row .userCard .image{
    height: 100px;
    width: 122px;
}
.connections .row .userCard .image img{
    height: 100%;
    width: 100%;
}
.connections .row .userCard .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.connections .row .userCard .details .name{

}
.connections .row .userCard .details .age{

}
.connections .row .userCard button{
    border: none;
    background: none;
}
.connections .row .userCard button a{
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    padding: 9px 24px;
    border-radius: 20px;
    border: 1px solid #0000003d;
}
.connections .row .userCard button a:hover{
    background: linear-gradient(166deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
    color: #fff !important;
    
}
.connections .row .userCard .image img{
    border-radius: 12px;
}
@media screen and (min-width:1200px) {
    .connections .row {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .connections .cards {
        width: 66%;
        max-width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
    }
    .connections .row .userCard .image {
        height: 113px;
        width: 122px;
    }
    .connections .row .userCard .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
    }
    .connections .row .userCard .details .age {
        font-size: 17px;
        color: #000000b0;
    }
}
@media screen and (max-width:1200px) {
    .connections .cards{
        width: 90%;
        max-width: auto;
    }
    .connections .row .userCard .details {
        font-size: 20px;
    }
    .connections .row .userCard .details .age {
        font-size: 17px;
        color: #000000b0;
    }
}
@media screen and (max-width:925px) {
    .connections .cards{
        width: 95%;
        max-width: auto;
    }
    .connections .row .userCard{
        width: 60%;
    }
    .connections .cards{
        width: 90%;
        max-width: auto;
    }
    .connections .row .userCard .details {
        font-size: 18px;
    }
    .connections .row .userCard .details .age {
        font-size: 14px;
        color: #000000b0;
    }
    
}
@media screen and (max-width:575px) {
    .connections .row .userCard {
        width: 99%;
    }
    .connections .row .userCard .details {
        font-size: 15px;
        padding: 0px;
        margin: 2px;
    }
    .connections .row .userCard button {
        font-size: 15px;
        padding: 8px 12px;
    }
    .connections .cards {
        padding-bottom: 60px;
    }
    .connections .row .userCard .image {
        height: 100px;
        width: 102px;
    }

    .connections .sec2 .profileCard .details .faceImage {
        width: 54%;
        height: 59%;
        margin: 0px auto;
        border-radius: 50%;
        position: relative;
        top: 80px;
    }
    .connections .row .userCard button a {
        font-size: 12px;
    }
}

/* ------------------------------------------------------------------------------------------------- */
/* connections */
.userConnection .connected{
    display: none;
}

.userConnection .notConnected{
    display: none;
}
.userConnection .sec2 .card {
    height: 350px;
}
@media screen and (max-width:1200px) {
    .userConnection .sec2 .card {
        width: fit-content;
        margin: 12px auto;
        padding: 0 0 20px 0;
        border-radius: 24px;
        text-align: center;
        border: none;
        box-shadow: #00000085 0px 1px 7px;
        height: 365px;
    }
}

.userConnection .action {
    position: relative;
    top: -12px;
}

.userConnection .action button{
    border: none;
    padding: 7px 15px;
    background: none;
    border-radius: 15px;
    transition: all ease-in-out 0.3s;
    font-weight: bold;
}
.userConnection .action .accept{
    background: #0e730edb;
    color: white;

}
.userConnection .action .accept:hover{
    background: #095f09;
}
.userConnection .action .reject{
    background: red;
    color: white;
}
.userConnection .action .reject:hover{
    background: rgb(147, 13, 13);
}
.userConnection #faceImage, .userConnection #fullImage {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    cursor: pointer;
}
.userConnection .imgCont, .userConnection .imgCont2{
    position: relative;
    width: 90%;
    padding: 0;
    margin: 10px 0 0 0 ;
    
}
.zoomIn{
    width: 90vh;
    height: 90%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    display: block;
    margin: auto;
    max-width: 80%;
    height: 90vh;
    top: 3%;
    border-radius: 15px;
    z-index: 502;
  }
  .modal-content img{
    border-radius: 15px;
  }
  
  .close-button {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 8000;
  }
.userConnection .imgCont .backGr , .userConnection .imgCont2 .backGr2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.626);
    position: absolute;
    z-index: 501;
    top: 0;
    border-radius: 12px;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.userConnection .imgCont i, .userConnection .imgCont2 i{
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 500;
    font-size: 40px;
    color: rgb(238, 238, 238);
}
.userConnection .imgCont:hover .backGr{
    opacity: 1;
}
.op{
    opacity: 0;
}
.userConnection .imgCont2:hover .backGr2{
    opacity: 1;
}



@media screen and (max-width:575px) {
    .userConnection .sec2 .card {
        height: 250px;
    }
    .userConnection .sec2 {
        width: fit-content;
        margin: 12px auto;
        padding: 0 0 20px 0;
        border-radius: 24px;
        text-align: center;
        border: none;
        height: 327px;
        margin: 12px;
    }
    .userConnection .sec2 .card .details .faceImage {
        width: 175px;
        height: 150px;
        margin: 0px auto;
        border-radius: 50%;
        position: relative;
        top: 81px;
    }
    .userConnection .action {
        position: relative;
        top: 115px;
    }
    .userConnection .imgCont, .userConnection .imgCont2{
        position: relative;
        width: 90% !important;
        padding: 0;
        margin: 10px 0 0 0 ;
        
    }
}

/* ------------------------------------------------------------------------------------------------- */
/* connections */

.userRequest .sec2 .card {
    height: 370px;
}
.userRequest #faceImage, .userRequest #fullImage {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    cursor: pointer;
}
.userRequest .imgCont, .userRequest .imgCont2{
    position: relative;
    width: 90%;
    padding: 0;
    margin: 10px 0 0 0 ;
    
}
.zoomIn{
    width: 90vh;
    height: 90%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    display: block;
    margin: auto;
    max-width: 80%;
    height: 90vh;
    top: 3%;
    border-radius: 15px;
    z-index: 502;
  }
  .modal-content img{
    border-radius: 15px;
  }
  
  .close-button {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 8000;
  }
.userRequest .imgCont .backGr , .userRequest .imgCont2 .backGr2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.626);
    position: absolute;
    z-index: 501;
    top: 0;
    border-radius: 12px;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.userRequest .imgCont i, .userRequest .imgCont2 i{
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 500;
    font-size: 40px;
    color: rgb(238, 238, 238);
}
.userRequest .imgCont:hover .backGr{
    opacity: 1;
}
.op{
    opacity: 0;
}
.userRequest .imgCont2:hover .backGr2{
    opacity: 1;
}


@media screen and (max-width:575px) {
    .userRequest .sec2 .card {
        height: 370px;
    }
    .userRequest .imgCont, .userRequest .imgCont2{
        position: relative;
        width: 90% !important;
        padding: 0;
        margin: 10px 0 0 0 ;
        
    }
}

/* ------------------------------------------------------------------------------------------------- */
/* loading */

:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
}
.loadingBody {
    display: none;
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
	transition: background-color var(--trans-dur);
    display: none;
}
.loading {
	padding: 1.5em 0;
}
.loading .ip {
	width: 16em;
	height: 8em;
}
.loading .ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.loading .ip__worm1,
.loading .ip__worm2 {
	animation: worm1 2s linear infinite;
}
.loading .ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.loading .ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}
/* ------------------------------------------------------------------------------------------------- */
/* About Page */
.about .sec1{
    background: rgb(50 21 145);
    /* width: 80%; */
    padding: 50px 0;
}
.about .sec1 h2{
    color: white;
    text-align: end;
    width: 90%;
    font-size: 46px;
    font-weight: bold;
}
.about .sec1 nav{
    direction: ltr;
    width: 90%;
}
.about .sec1 nav ol{
    font-size: 20px;
    padding-top: 30px;
}
.about .sec1 nav ol li{
    color: white;
}
.about .sec1 nav ol li a{
    color: #d0d0d0;
    text-decoration: none;
}
.about .sec2{
    direction: ltr;
    width: 80%;
    margin: 80px auto;
    display: flex;
    align-items: center;
}
.about .sec2 .image{
    margin-bottom: 30px;
}
.about .sec2 .image img{
    width: 100%;
}
.about .sec2 .details{
    direction: rtl;
}
.about .sec2 .details p{
    color: #5650ce;
    font-size: 26px;
    font-weight: bold;
}
.about .sec2 .details h2{
    font-size: 3rem;
    font-weight: bold;
    padding: 0 0 20px 0;
}
.about .sec2 .details .text{
    margin-bottom: 15px;
    font-size: 18px;
    color: #000000d9;
}

@media screen and (max-width:575px) {
    .about .sec2{width: 90%;}
    .about .sec2 .details p{font-size: 24px;}
    .about .sec2 .details h2{font-size: 2rem;}
}
.about .sec3{
    background: #f3f6fd;
    /* margin-top: 80px; */
    padding: 80px 0;
}
.about .sec3 .par{
    text-align: center;
    color: #5650ce;
    font-size: 26px;
    font-weight: bold;
}
.about .sec3 .head{
    text-align: center;
    font-weight: bold;
}
.about .sec3 .title{
    width: 42%;
    margin: auto;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
} 
.about .sec3 .cards{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.about .sec3 .cards .card{
    flex: calc(100% / 5);
    margin: 0 10px;
    border: none;
    padding: 25px 0;
    transition: all ease-in-out 0.3s;
}
.about .sec3 .cards .card:hover{
    box-shadow: #0000005c 0px 2px 11px 0px;
}
.about .sec3 .cards .card img{
    width: 50%;
    margin: auto;
}
.about .sec3 .cards .card .card-body{
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about .sec3 .cards .card .card-title{
    font-size: 24px;
    padding-bottom: 10px;
}
.about .sec3 .cards .card .card-text{
    font-size: 18px;
    color: #000000c9;
}
@media screen and (max-width:1036px) {
    .about .sec3 .cards{
        display: flex;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
    }
    .about .sec3 .cards .card{
        flex: calc(100% / 3);
        margin: 0 10px;
        border: none;
        padding: 25px 0;
        margin-bottom: 15px;
    }
    .about .sec3 .title{width: 62%;} 
}
@media screen and (max-width:575px) {
    .about .sec3 .cards{
        display: flex;
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }
    .about .sec3 .cards .card{
        flex: calc(100%);
        margin: 0 10px;
        border: none;
        padding: 25px 0;
        margin-bottom: 15px;
    }
    .about .sec3 .title{width: 82%;} 
}

.about .sec4{padding: 80px 0;}
.about .sec4 .par{
    text-align: center;
    color: #5650ce;
    font-size: 26px;
    font-weight: bold;
}
.about .sec4 .head{
    text-align: center;
    font-weight: bold;
}
.about .sec4 .title{
    width: 42%;
    margin: auto;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
} 
.about .sec4 .cards{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}
.about .sec4 .cards .card{
    flex: calc(100% / 3);
    margin: 0 10px;
    border: none;
    padding: 14px 20px;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: row;
    direction: ltr;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
    border: 1px solid #00000026;
    margin-bottom: 15px;
}
.about .sec4 .cards .card:hover{box-shadow: #0000005c 0px 2px 11px 0px;}
.about .sec4 .cards .card .icon{
    height: 70px;
    width: 78px;
    padding: 20px 17px 17px 20px;
    border-radius: 50%;
    background: #faeffa;
}
.about .sec4 .cards .card img{
    width: 100%;
    margin: 0;
    height: 100%;
}
.about .sec4 .cards .card .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about .sec4 .cards .card .card-title{font-size: 24px;padding-bottom: 5px; font-weight: bold;}
.about .sec4 .cards .card .card-text{font-size: 16px; color: #000000c9;}
@media screen and (max-width:1036px) {
    .about .sec4 .cards{
        display: flex;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
    }
    .about .sec4 .cards .card{
        flex: calc(100% / 3);
        margin: 0 10px;
        border: none;
        padding: 14px 20px;
        transition: all ease-in-out 0.3s;
        display: flex;
        flex-direction: row;
        direction: ltr;
        /* text-align: center; */
        justify-content: space-around;
        align-items: center;
        border: 1px solid #00000026;
        margin-bottom: 15px;
    }
    .about .sec4 .title{width: 62%;} 
}
@media screen and (max-width:1036px) {
    .about .sec4 .cards .card{
        flex: calc(100% / 1);
        margin: 0 10px;
        border: none;
        padding: 14px 20px;
        transition: all ease-in-out 0.3s;
        display: flex;
        flex-direction: row;
        direction: ltr;
        /* text-align: center; */
        justify-content: space-around;
        align-items: center;
        border: 1px solid #00000026;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:575px) {
    .about .sec4{
        margin-bottom: 85px ;
    }
    .about .sec4 .cards{
        display: flex;
        width: 90%;
        margin: auto;
        flex-wrap: wrap;

    }
    .about .sec4 .cards .card{
        flex: calc(100% / 1);
        margin: 0 10px;
        border: none;
        padding: 14px 10px;
        transition: all ease-in-out 0.3s;
        display: flex;
        flex-direction: row;
        direction: ltr;
        /* text-align: center; */
        justify-content: space-around;
        align-items: center;
        border: 1px solid #00000026;
        margin-bottom: 15px;
    }
    .about .sec4 .title{width: 82%;} 
}

/* ------------------------------------------------------------------------------------------------- */
/* footer */

.end{
    padding-top: 50px;
    background: rgb(50 21 145);
    color: white;
    direction: ltr;
}

.end .footer{
    margin: 0;
    width: 85%;
    margin: auto;
}
.end .footer .cont{
    direction: rtl;
}

.end .footer .cont hr{
    border: 2px solid white;
    width: 53px;
}
.end .footer .cont p{
    color: #ffffffa8;
}
.end .footer .cont .logos{
    width: 100%;
}
.end .footer .cont .logos i{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ffffff4f;
    margin: 0 0 0 7px;
    font-size: 20px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.end .footer .cont .logos i:hover{
    background-color: black;
}
.end .footer .cont div{
    padding-top: 10px;
}
.end .footer .cont div a{
    color: #ffffffa8;
    padding-top: 0px;
}
.end .footer .cont form{
    margin-top: 30px;
    padding: 6px 10px 6px 10px;
    background: white;
    width: fit-content;
    border-radius: 19px;
}
.end .footer .cont form input{
    border: none;
    width: 124px;
}
.end .footer .cont form button{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 13px 18px;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-align: center;
    transition: all .35s;
    text-align: center;
    margin: auto;
    border: none;
    background: #0E59F2;
    color: var(--white-color);
    transition: .4s;
    border-radius: 19px;
}
.end .footer .rights{
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 12px;
    margin: 30px auto;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}
.end .footer .touch{
    display: flex;
    align-items: center;
}
.end .footer .line{
    margin: 20px 0;
}
.end .footer a{
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
.end .footer img{
    width: 100%;
}
.end .footer a:hover{
    color: black
}
@media screen and (max-width:1300px)and (min-width:980px) {
    .end .footer .cont form {
        margin-top: 30px;
        padding: 6px 10px 6px 10px;
        background: white;
        width: fit-content;
        border-radius: 19px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .end .footer .cont form button{
        margin-top: 10px;
    }
}
@media screen and (max-width:980px){
    .end .cont{
        padding-bottom: 20px;
    }
}
@media screen and (max-width:768px){
    .end .footer {
        margin: 0;
        width: 85%;
        margin: auto;
        text-align: center;
    }

    .end .footer hr{
        margin: auto;
    }
    .end .footer .touch {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:575px){
    .end{
        display: none;
    }
}